<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="bi bi-moon-stars-fill me-2"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a routerLink="" 
                    routerLinkActive="active-menu" 
                    [routerLinkActiveOptions]="{exact : true}"
                    class="nav-link px-2">
                        หน้าหลัก
                    </a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active-menu" class="nav-link px-2">
                        เกี่ยวกับเรา
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active-menu" class="nav-link px-2">
                        ติดต่อเรา
                    </a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                    aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" routerLink="/auth/login" class="btn btn-outline-light me-2">Login</button>
                <button type="button" routerLink="/auth/register" class="btn btn-warning">Register</button>
            </div>
        </div>
    </div>
</header>