<div class="container">
    <h2 class="mt-5 mb-4">ติดต่อเรา</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam autem ipsa, ad illum mollitia minus deserunt
        quisquam distinctio fuga dolorem nam est tenetur maiores ipsum? A nulla tempore quos placeat?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam autem ipsa, ad illum mollitia minus deserunt
        quisquam distinctio fuga dolorem nam est tenetur maiores ipsum? A nulla tempore quos placeat?</p>
</div>